* {
  outline: none;
}

body {
  --bg: #635499;
  --tbg: #cccccc;
  --tc: white;
  --textNormal: #bbadd9;
  --textTitle: #fff;
  --textLink: rgb(255, 87, 0);
  --textLinkHover: rgba(255, 87, 0, 0.8);
  --hr: hsla(0, 0%, 0%, 0.2);
  --greenBorder: #00b956;

  min-width: 320px;
  background-color: var(--bg);
  transition-duration: 0.2s;
  transition-property: background-color;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

h4 {
  color: var(--textNormal);
}

body.dark {
  -webkit-font-smoothing: antialiased;
  --bg: #2d2d2d;
  --tbg: #66bc6a;
  --tc: #cccccc;
  --textNormal: #f2f2f3;
  --textTitle: #e7e8eb;
  --textLink: rgb(244, 126, 37);
  --textLinkHover: rgb(244, 126, 37, 0.8);
  --hr: hsla(0, 0%, 100%, 0.2);
}

#root {
  min-height: 100vh;
  display: flex;
}

a:active,
a:hover {
  outline-width: 0;
}

a h3 {
  transition: all ease-in-out 0.2s;
}

a:active h3,
a:hover h3 {
  color: var(--textLinkHover);
}

a {
  color: var(--textLink);
  text-decoration: none;
}

/* a:hover {
  color: #ff5500ce;
} */

.form-control {
  width: 100%;
  border-radius: 5px;
  margin: 5px 0;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border: solid var(--textNormal) 2px;
  color: var(--textNormal);
  outline: none;
}

.is-invalid {
  background-color: rgba(255, 255, 255, 0.1);
  border: solid var(--textLinkHover) 2px;
}

.invalid-feedback {
  color: var(--textLinkHover);
  margin: 0 0 5px 0;
}

.preloader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.preloader div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: var(--textLink);
  animation: preloader 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.preloader div:after,
.preloader div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: var(--textLink);
}
.preloader div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.preloader div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}

@keyframes preloader {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
